body{
    background-color: aqua;
    display: block;
}
h1{
    text-align: center;
    font-family: fantasy;
    text-decoration: line-through;
}
table{
    margin: auto;
    align-items: center;
    justify-content: center;
}